.view-wrapper {
    width: 1137px;

    border: 1px solid red;

    .view-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px 60px;

        .notification {
            margin-left: auto;
            padding-right: 28px;
        }
    }

    .row {
        width: 250px;
        padding: 10px;
        margin: 0;

        .col {
            padding: 0;
        }
    }

    .list-document {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }
}