$primary : #184D85;
$active: #222D51;
$hover: #123C69;

$secondary-normal: #E53838;
$secondary-hover: #BC3333;
$secondary-active: #801F1F;

$seafoam : #2FB9AE;
$seafoam-hover:#269A90;
$seafoam-active:#1A6D66;