@import './base/variables.scss';

.forgotpassword-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    .error-message {
        padding: 10px;
    }
}

.buttonwrapper-next {
    padding: 0px;
    text-align: center;

}

.successful {
    color: white;
    color: map-get($map: $colors, $key:"secondary2");
    font-style: italic;
    font-weight: light;
    font-size: 14pt;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid map-get($map: $colors, $key:"secondary2");
    margin-top: 150px;
    margin-bottom: 10px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}
