@import './base/variables.scss';
.error{
    padding-bottom: 20px;
}

.token-error-message{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    color:map-get($map: $colors, $key: secondary1);
    h3{
        padding-bottom: 10px;
    }
}