@mixin modalstyle {
    margin: 1em;
    width: 40%;
    height: auto;
    position: absolute;
    left: 35%;
    top: 30%;
    background-color: #dddddd;
    border: 1px solid #000;

}

@function dis($class){
    @if $class=="display-none"{
        @return (none);
    }
    @if $class=="display-block"{
       @return (block);
    }
}

$selectors:(display-block, display-none);

@each $class in $selectors{
    .#{$class}{
        @include modalstyle();
        display: dis($class);
    }
}

.label{
    margin: 2em 0;
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 1em 0;
}