@import "assets/styles/colors.scss";

.dept-table{
    display: block;
    margin: 1em auto;
    width: 60%;

    h3{
        color: $active;
        font-weight: bold;
        margin: 0;
    }

    .search{
        width: 35%;
    }

    .table{
        margin: 1em 0;
    }

    th{
        font-weight: bold;
    }

    td{
        color: #777777;

        .view-details-button{
            background-color: $primary;
            height: 2.5em;
            border-style: none;
            border-radius: 5px;
            color: #fff;
            width: 100%;
            font-size: 0.75em;
        }
        .view-details-button:hover{
            background-color: $hover;
        }

        .view-details-button:active{
            background-color: $active;
        }
    }

    .name{
        color: $primary;
    }

}