.edit-user{
    margin: 0.5em;
    flex-basis: 80%;
    .user-form{
        width: 40%;
        margin: 1em;
        position: relative;
        display: block;
        margin: 1em auto;
        
    }

}


.validity{
    position: absolute;
    right: 0;
}
