
$colors:(
    primary:#184D85,
    secondary1:#E53838,
    secondary2:#2FB9AE
);
$hovercolors:(
    primary:#123C69,
    secondary1:#BC3333,
    secondary2:#269A90
);
$activecolors:(
    primary:#222D51,
    secondary1:#801F1F,
    secondary2:#1A6D66
);