@import "assets/styles/colors.scss";

.view-dept{
    width: 80%;
    margin: 1em;
    
    .title{
        width: 100%;
        justify-content: space-between;     
    }

    .view-dept-table{
        margin-top: 1em;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;

        .table{
            flex-basis: 60%;
        }

        img{
            width: 40vh;
            height: auto;
        }
    }

    
}